// Mixin for button base styles
@mixin button-base {
  display: inline-block;
  padding: $padding;
  text-align: center;
  min-height: 44px;
  transition: all $transition;
  cursor: pointer;
  @include typo();
}

// Mixin for primary button styles
@mixin button-primary {
  @include button-base; 
  background-color: $primary-color;
  color: $text-color;
  border: none;

  &:hover:not(:disabled) {
    background-color: $primary-hover-color;
  }

  &:focus:not(:disabled) {
    outline: auto;
    outline-offset: 2px;
    outline-color: $link-focus-color;
  }

  &:disabled {
    background-color: $disabled-bg-color;
    cursor: not-allowed;
  }
}

// Mixin for secondary button styles
@mixin button-secondary {
  @include button-base;
  background-color: transparent;
  border: 2px solid $secondary-border-color;
  color: $primary-color;

  &:hover:not(:disabled) {
    border-color: $secondary-hover-color;
    color: $secondary-hover-color;
  }

  &:focus:not(:disabled) {
    outline: auto;
    outline-offset: 2px;
    outline-color: $link-focus-color;
  }

  &:disabled {
    border-color: $disabled-text-color;
    color: $disabled-text-color;
    cursor: not-allowed;
  }
}

// Mixin for ghost button styles
@mixin button-ghost {
  @include button-base;
    background-color: transparent;
    border: none;
    padding: 0;
    min-height: auto;
    color: $ghost-text-color;
    border-bottom: 2px solid $ghost-text-color;
    text-decoration: none;
    line-height: 125%;
    margin: 0 2px;

  &:hover:not(:disabled) {
    color: $ghost-hover-color;
    border-bottom-color: $ghost-hover-color;
  }
  
  &:focus:not(:disabled) {
    outline: auto;
    outline-offset: 2px;
    outline-color: $link-focus-color;
  }

  &:disabled {
    color: $disabled-text-color;
    border-bottom-color: $disabled-text-color;
    pointer-events: none;
    cursor: not-allowed;
  }
}

// Applying mixins to buttons
.c-button {
  &--primary {
    @include button-primary;
  }

  &--secondary {
    @include button-secondary;
  }

  &--ghost {
    @include button-ghost;
  }
}