.c-blocInfo {
    background-color: #ECF6FD;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;

    p {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    .c-button--ghost {
      margin: 0 2px 0 0;
    }
    svg {
      fill: #ECF6FD;
      flex: none;
    }
  }
  