.c-badge {
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 10px 0;
  color: #fff;
  @include typo($font-size: 14px, $font-weight: 700);
  background-color: $badge-blue-color; // Couleur par défaut
}

.c-badge--green {
  background-color: $badge-green-color;
}

.c-badge--blue {
  background-color: $badge-blue-color;
}

.c-badge--purple {
  background-color: $badge-purple-color;
}
