extends ./pug-template/base
//--------------------------------------------------

include ./components/demo/demo
include ./components/atom/buttons/buttons
include ./components/atom/badge/badge
include ./components/atom/blocInfo/blocInfo
include ./components/push/push

block content
  //- j'ai rajouter un align style pour espacer un peux le push
  div(style="margin-top: 50px")
    +push({
        titleBonus: "Mon Bonus",
        subTitleBonus: "Agissons ensemble !",
        textTitle: "L’écodéfi Gaz vient de commencer ! Prêt à relever le défi ?",
        description: "Cet hiver, réduisez vos consommations certains jours. Pour vous remercier, des primes vous seront reversées !"
    })

    //- airer un peux les deux push
    br

    +push({
        titleBonus: "Mon Bonus Engie",
        subTitleBonus: "Agissons ensemble !",
        success : true,
        textTitleSuccess: "Vous avez activé Mon Bonus. Merci pour votre participation !",
        description: "Les prochains jours critiques vous seront indiqués 1 à 4 jours à l'avance, sur cette page."
    })
    
  //- br

  //- +button('primary', 'Primary Button')
  //- +button('primary', 'Disabled Primary Button', '', true)
  //- +button('secondary', 'Secondary Button')
  //- +button('secondary', 'Disabled Secondary Button', '', true)
  //- +button('ghost', 'Ghost Button', '#')
  //- +button('ghost', 'Disabled Ghost Button', '', true)

  //- br

  //- +badge('Bon plan', 'purple')
  //- +badge('Bon plan', 'green')
  //- +badge('Bon plan', 'blue')

  //- br

  //- +checkbox("un", "J'accepte les ", " de l'offre Mon Bonus")(disabled="disabled", checked="checked")
  //- +checkbox("deux", "J'accepte les ", " de l'offre Mon Bonus", "Veuillez cocher pour accepter les conditions générales", isError = false)  
  //- +checkbox("trois", "J'accepte les ", " de l'offre Mon Bonus ")(checked="checked")
  //- +checkbox("quatre", "J'accepte les ", " de l'offre Mon Bonus ")

  //- br

  //- +blocInfo('pour etre notifier du prochain jour de chanlange.')
